@page "/dashboard"
@model TfsForms.Pages.ReportingEntity.DashboardModel
@{
    ViewData["Title"] = "Reporting Entity Dashboard";
}

    @* sidebar *@
    
    
    @* Main Content *@
    <section class="p-3">
        <h2>Welcome</h2>
    </section>

