<div class="re-sidebar p-3">
    <nav class="nav flex-column">
        <a class="nav-link active" asp-page="/RE/Dashboard">Dashboard</a>
        <a class="nav-link" href="/designee">Designees</a>
        @* <a class="nav-link" href="/Response/12/5">New Submission</a> *@
        <a class="nav-link" asp-page="/RE/Downloads">My Submissions</a>
        <a class="nav-link" asp-page="/RE/Notices">Help</a>
        @* <a class="nav-link" asp-page="/RE/Profile">Profile & Settings</a> *@
    </nav>
</div>
